:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

.toast {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-width: 10rem;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid;
    opacity: 0;
    transform: translateX(-10px);
    animation: toast-enter 0.3s ease-out forwards;
  }
  
  @keyframes toast-enter {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .toast.success {
    border-color: green;
    background-color: #E8F5E9;
  }
  
  .toast.error {
    border-color: red;
    background-color: #FFEBEE;
  }
  
  .toast.info {
    border-color: #00BCD4;
    background-color: #E3F2FD;
  }
  
  .toast.warning {
    border-color: #FFC107;
    background-color: #FFF3E0;
  }
  
  .toast-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .icon-wrapper {
    margin-right: 8px;
  }