.toast-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.toast-container.top-left,
.toast-container.top-right,
.toast-container.top-center {
  top: 20px;
}

.toast-container.bottom-left,
.toast-container.bottom-right,
.toast-container.bottom-center {
  bottom: 20px;
}

.toast-container.top-left,
.toast-container.bottom-left {
  left: 20px;
  align-items: flex-start;
}

.toast-container.top-right,
.toast-container.bottom-right {
  right: 20px;
  align-items: flex-end;
}

.toast-container.top-center,
.toast-container.bottom-center {
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}